<%- include('partials/header'); %> <!-- Include the header partial for consistent metadata and styles -->
<%- include('partials/navbar'); %> <!-- Include the navbar partial for navigation -->
  <div class="container">
    <h1>404 Error, the requested resource was not found.</h1>
  </div>
  <%- include('partials/footer'); %>